// Overwrite the selector...
.wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
	background: var(--wp--preset--color--ti-bg);
	color: var(--wp--preset--color--ti-fg);
}

.wp-block-navigation .wp-block-navigation__responsive-container.is-menu-open {
	--navigation-layout-justification-setting: center;

	> .wp-block-navigation__container {
		gap: 0;
	}

	// Root menu.
	.wp-block-navigation__container {
		gap: 24px !important;
		width: 100%;

		> li > a {
			font-size: var(--wp--preset--font-size--large) !important;
		}
	}

	// Submenu.
	.wp-block-navigation__submenu-container {
		gap: 24px !important;
	}

	.wp-block-navigation__responsive-container-content {

		.wp-block-navigation-item {
			justify-content: flex-end;
			gap: 10px;
			flex-direction: row;
			flex-wrap: wrap;
			padding: 0 24px;
			box-sizing: border-box;

			.wp-block-navigation__submenu-container {
				display: none;
			}

			.wp-block-navigation__submenu-icon {
				display: inline-block;
				cursor: pointer;
			}

			&.is-submenu-open > .wp-block-navigation__submenu-container {
				display: block;
				width: 100%;
				padding: 0;
				padding-top: var(--wp--style--block-gap, 2em);
			}

			&__content {
				flex-grow: 0;
			}
		}
	}

}
